*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
  font-family: 'Rubik';
}

html,body{
  /* width: 100vw; */
  /* height: 100vh; */
}

header nav{
  display: flex;
  padding: 20px 0 20px 30px;
  gap: 20px;
  /* border-bottom: 1px solid black; */
  /* box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.2); Sombra arriba*/
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

header nav li{
  padding: 10px 15px 10px 15px;
  /* text-decoration: none; */
  list-style: none;
  cursor: pointer;
  background-color: #FF204E;
  border-radius: 5px;
  color: white;
  letter-spacing: 0.2rem;
  font-weight: 500;
  transition: all .2s ease;
  text-transform: uppercase;
  /* background-color: red; */
}

header nav li:hover{
  background-color: #A0153E;
}

main{
  padding: 10px 50px 10px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* body table tr{
  border: 1px solid red;
}

body table tr{
  display: flex;
  padding: 5px;
  gap: 5px;
} */

body table td,th{
  /* display: flex; */
  /* text-align: center; */
}